@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    
}
.lucky-font{
    font-family: 'Luckiest Guy', cursive;
}

/* -------------HEADER--------------*/

header{
    
    background-image: url(../images/Header\ Background.svg);
    background-size: cover;
    background-position: center center;
    padding: 70px 24px;
}


header h1{
    color:white;    
    font-size: 44px;
    font-size: clamp(1.5rem,5vw,2.9rem);
    line-height: 95%;
    text-transform: uppercase;
    word-wrap: break-word;
}

header p{
    font-family: 'Open Sans', sans-serif;
    max-width: 380px;
    color: white;
    margin: 24px 0;
    line-height: 1.5rem;
    font-size: 1rem;
}


header button{
    padding: 16px 32px;
    border-radius: 28px;
    border:0;
    font-weight: 400px;
    font-size: 1rem;
    display: block;
}

.white-btn{ 
    color: #23272A;
    background: white;
    margin-right: 24px;
    margin-bottom: 24px;
}

.black-btn{ 
    color: white;
    background: #23272A;
}

/* -------------MAIN--------------*/
main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 16px;
    
}

main section:nth-child(even){
    background: #F6F6F6;
}

.section-description{
    color: #23272A;
}

.section-img{
    align-self: center;
}

main section img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: center;
}

main section p{
    line-height: 1.3rem;
    font-size: 1rem;
}

main section h2{
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 27px;
    line-height: 95%;
    font-size: clamp(1.2rem,5vw,2.5rem);
    
}

#section-04 h2{
    font-weight: 800;
    font-size: 2rem;
    font-size: clamp(1.25rem,7vw,3rem);
    
}

footer{
    padding: 50px;
    background: #23272A;
    display: flex;
}

footer img{
    margin: 0 auto;
}


@media (min-width:768px){
    
    #header-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 770px;
        margin: 0 auto;
    }

    header h1{
        font-size: 3.5rem;
        max-width: 350px;
        text-align: center;
    }
    
    header p{
        max-width: none;
        text-align: center;
    }
    
    .header-buttons{
        display: flex;
    }

    .white-btn{
        margin-bottom: 0;
    }
    
    main section p{
        line-height: 2rem;
    }
    
    main section h2{
        line-height: 3rem;  
    }

    main section:not(#section-04){
        padding: 40px 80px;
        display:grid;
        grid-template-rows: min-content;
        align-items: center;
        column-gap: 16px;
    }

    main section:not(#section-02){
        grid-template-columns: minmax(min-content, 680px) minmax(min-content, 380px);
        grid-template-areas: 'img description';
    }

    #section-02{
        grid-template-areas: "description img";
        grid-template-columns: minmax(min-content, 380px) minmax(min-content, 680px) ;
    }

    .section-img{
        grid-area: img;
    }

    .section-description{
        grid-area: description;
    }

    #section-04{
        align-items: center;
        text-align: center;
    }

    #section-04 div{
        max-width: 980px;
    }
    #section-04 h2{

        max-width: 608px;
        margin: 0 auto 16px auto;

    }
}




