@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    
}
.lucky-font{
    font-family: 'Luckiest Guy', cursive;
}

/* -------------HEADER--------------*/

header{
    
    background-image: url(../images/Header\ Background.svg);
    background-size: cover;
    background-position: center center;
    padding: 70px 24px;
}


header h1{
    color:white;    
    font-size: 44px;
    font-size: clamp(1.5rem,5vw,2.9rem);
    line-height: 95%;
    text-transform: uppercase;
    word-wrap: break-word;
}

header p{
    font-family: 'Open Sans', sans-serif;
    max-width: 380px;
    color: white;
    margin: 24px 0;
}

header button{
    padding: 16px 32px;
    border-radius: 28px;
    border:0;
    font-weight: 400px;
    font-size: 1rem;
}

.white-btn{ 
    color: #23272A;
    background: white;
    margin-right: 24px;
    margin-bottom: 24px;
}

.black-btn{ 
    color: white;
    background: #23272A;

}
/* -------------MAIN--------------*/
main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 27px;
}

main section:nth-child(even){
    background: #F6F6F6;
}

.section-description{
    color: #23272A;
}

main section img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main section p{
    line-height: 1.3rem;
    font-size: clamp(1rem,4vw,1.25rem);
}

main section h2{
    font-weight: 800;
    font-size: 1.6rem;
    margin-bottom: 27px;
    line-height: 2rem;
    font-size: clamp(1.25rem,4vw,2.5rem);
    
}

#section-04 h2{
    font-weight: 800;
    font-size: 2rem;
    font-size: clamp(1.25rem,7vw,2.5rem);
    
}

footer{
    padding: 50px;
    background: #23272A;
    display: flex;
}

footer img{
    margin: 0 auto;
}




